# Node modules in all subfolders
**/node_modules/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Build output
**/dist/
**/build/

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
**/.env

# IDE stuff
.vscode/
.idea/
