<div class="container">
  <div class="layout-container">
    <!-- Left Panel: File Explorer -->
    <div class="left-panel">
      <app-file-explorer></app-file-explorer>
    </div>

    <!-- Center Panel: Code Editor -->
    <div class="center-panel">
      <app-code-editor></app-code-editor>
    </div>

    <!-- Right Panel: Terminal -->
    <div class="right-panel">
      <app-output></app-output>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="terminal" #terminalContainer class="terminal-container"></div>
    </div>
  </div>
</div>
